body {
    margin: 0 auto;
}

image {
    border: 0;
}

a {
    text-decoration: none;
    color: #5956dc;
    font-weight: bold;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fixed {
    position: fixed;
}


