body {
    margin: 0 auto;
}

image {
    border: 0;
}

a {
    text-decoration: none;
    color: #5956dc;
    font-weight: bold;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fixed {
    position: fixed;
}


.register-container {
    top:50%;
    left: 50%;
    width: 1200px;
    height: 600px;
    margin-left: -600px;
    margin-top: -300px;
    border: 1px solid #e3e4e5;
}

.register-container .left {
    width: 700px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.register-container .left .line {
    width: 700px;
    height: 60px;
    line-height: 60px;
}

.register-container .left .line label {
    width: 100px;
    height: 60px;
    text-align: right;
}

.register-container .left .line .text {
    position: relative;
    width: 300px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 30px;
}

.register-container .left .line .input {
    width: 270px;
    height: 30px;
    padding-right: 30px;
}

.register-container .left .line .submit {
    width: 300px;
    height: 30px;
    background-color: red;
    color: white;
    border:0;
}

.register-container .left .line .icon {
    position: absolute;
    right:10px;
    top:10px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.register-container .right {
    width: 390px;
    height: 500px;
    margin-top: 50px;
    border-left: 1px solid #e3e4e5;
}

.logo {
    position: absolute;
    margin-top: -100px;
}