{% extends "base.html" %}
{% block title %}
    <title>报名中心</title>
{% endblock %}
{% block css %}
    <style>
        body {
            background: url(/static/img/bg-img/bg-img-5.jpg);
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 50px;">
        {% if enrollment_obj.contract_agreed %}
            <div class="panel panel-bordered panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>恭喜您报名成功</b></h3>
                </div>
                <div class="panel-body">
                    <h1>即将开始您的屌丝逆袭之路，加油！</h1>
                </div>
            </div>
        {% else %}
            <div class="panel panel-primary">

                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">

                        <!--Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li id="tab1" class="active">
                                <a data-toggle="tab" href="#demo-tabs-box-1" aria-expanded="true">个人信息填写</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#demo-tabs-box-2" aria-expanded="false">班级合同查看</a>
                            </li>
                        </ul>

                    </div>
                    <h3 class="panel-title">请填写报名相关信息</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <!--Tabs content-->
                    <div class="tab-content">
                        <div id="demo-tabs-box-1" class="tab-pane fade active in">
                            <h4 class="text-thin">个人信息</h4>
                            <form class="form-horizontal" method="post">{% csrf_token %}
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="demo-is-inputsmall">
                                            客户QQ
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text"
                                                   value="{{ enrollment_obj.customer.qq }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="demo-is-inputsmall">
                                            课程顾问
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text"
                                                   value="{{ enrollment_obj.customer.consultant }}" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="demo-is-inputsmall">
                                            所报班级
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text"
                                                   value="{{ enrollment_obj.enrolled_class }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    {% for field in customer_form_obj %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="demo-is-inputsmall">
                                                {{ field.label }}
                                            </label>
                                            <div class="col-sm-6">
                                                {{ field }}
                                            </div>
                                            <span style="color: red">{{ field.errors }}</span>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group pad-ver">
                                        <label class="col-md-3 control-label">是否同意合同条款</label>
                                        <div class="col-md-9">
                                            <div class="col-md-9 pad-no form-block">
                                                <!-- Checkboxes -->
                                                <a id="check-contract" data-toggle="tab" href="#demo-tabs-box-2"
                                                   style="color:#337ab7;">《班级合同查看》</a>
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-normal form-primary active form-text">
                                                        <input id="contract_agreed" type="checkbox"
                                                               name="contract_agreed">
                                                        我已审阅合同并同意此条款
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-labeled fa fa-info fa-lg pull-right" type="submit"
                                        style="margin-right: 50px;">
                                    确认提交
                                </button>
                            </form>
                            <h4 class="text-thin">请上传身份证正反两面照片</h4>
                            <div class="dropzone" id="myDropzone">
                                <div class="am-text-success dz-message">
                                    将身份证照片拖拽到此处<br>或点此打开文件管理器选择身份证照片
                                </div>
                            </div>
                        </div>
                        <div id="demo-tabs-box-2" class="tab-pane fade">
                            <h4 class="text-thin">合同查看</h4>
                            <pre>{{ enrollment_obj.enrolled_class.contract.content }}</pre>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}
    <script>
        // 切换至班级合同查看页
        $("#check-contract").click(function () {
            $("#tab1").removeClass("active").children("a").attr("aria-expanded", "false").parent().next().addClass("active").children("a").attr("aria-expanded", "true");
        });
        // 上传身份证照片
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#myDropzone", {
            url: "/crm/upload_identity_photo/",
            addRemoveLinks: true,
            method: 'post',
            maxFiles: 2,
            filesizeBase: 1024,
            sending: function (file, xhr, formData) {
                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                formData.append("enrollment_id", "{{ enrollment_obj.id }}");
                formData.append("filesize", file.size);
            },
            success: function (file, response, e) {
            }
        });
        // 提交
        $(":submit").click(function () {
            if (!$("#contract_agreed").prop("checked")) {
                swal({
                    title: "必须同意合同才能报名!",
                    type: "warning"
                });
                return false;
            }
            if (myDropzone.files.length < 2) {
                swal({
                    title: "您必须上传两张身份证照片!",
                    type: "warning"
                });
                return false;
            } else if (myDropzone.files.length > 2) {
                swal({
                    title: "您只能上传两张身份证照片!",
                    type: "warning"
                });
                return false;
            }
        })
    </script>
{% endblock %}