<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/build/css/home.css">
</head>
<body>
    <div class="my-content">
        <div id="init-db" class="modal-content menu" style="background-color: #495a80;">
            初始化数据库
        </div>
        <div id="drop-db" class="modal-content menu" style="background-color: #9966cc;">
            重置数据库
        </div>
        <div id="login" class="modal-content menu" style="background-color: #00ff80;">
            登录
        </div>
    </div>
    <script src="/static/plugin/jquery-1.12.4.js"></script>
    <script src="/static/plugin/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script src="/static/build/js/home.js"></script>
</body>
</html>