<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/build/css/register.css">
    <style>
        body{
            background: url(/static/img/bg-login.jpg) !important;
        }
    </style>
</head>
<body>
    <div class="modal show" id="registerModal" style="overflow: auto !important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close">&times;</button>
                    <h1 class="text-center text-primary">注册</h1>
                </div>
                <div class="modal-body">
                    <form class="form col-md-12 center-block" id="registerForm" action="/login/" method="post">
                        <div class="form-group-lg"  id="accountDiv">
                            <label class="sr-only" for="inputAccount">账号</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                <input class="form-control" id="inputAccount" name="accountNo" type="text" placeholder="账号" required autofocus>
                            </div>
                            <div class="hidden text-center" id="accountMsg"><span id="account-error" class="glyphicon glyphicon-exclamation-sign"></span></div>
                        </div>
                        <br>
                        <div class="form-group-lg" id="pwdDiv">
                            <label class="sr-only" for="inputPassword">密码</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input class="form-control" id="inputPassword" name="pwd" type="password" placeholder="密码" required>
                                <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></div>
                            </div>
                            <div class="hidden text-center" id="pwdMsg"><span id="pw-error" class="glyphicon glyphicon-exclamation-sign"></span></div>
                        </div>
                        <div class="form-group-lg" id="pwdAgainDiv">
                            <label class="sr-only" for="inputPasswordAgain">确认密码</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                <input class="form-control" id="inputPasswordAgain" name="pwdAgain" type="password" placeholder="确认密码" required>
                                <div class="input-group-addon"><span class="glyphicon glyphicon-eye-open"></span></div>
                            </div>
                            <div class="hidden text-center" id="pwdAgainMsg"><span id="pwAgain-error" class="glyphicon glyphicon-exclamation-sign"></span></div>
                        </div>
                        <div class="checkbox">
                            <label></label>
                            <div style="float: right;" >
                                <span>已有账号?</span>
                                <a href="/login/">登录</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button style="margin-left: 140px !important;" class="btn btn-primary btn-lg col-md-6" id="btn_register" type="button">注册</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="/static/plugin/jquery-1.12.4.js"></script>
    <script src="/static/plugin/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script src="/static/build/js/register.js"></script>
</body>
</html>