{% extends 'backend_layout.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/plugins/kindeditor/themes/default/default.css"/>
{% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="/backend/article-0-0.html">文章管理</a></li>
        <li class="active">创建文章</li>
    </ol>
    <form action="/backend/edit-article-{{ article_obj.nid }}.html" method="post">
        {% csrf_token %}
        <div style="padding: 5px 8px;">
            <div class="form-group">
                <label for="title">标题 <span>{{ article_form.title.errors.0 }}</span></label>
                {{ article_form.title }}
            </div>
            <div class="form-group">
                <label for="summary">简介 <span>{{ article_form.summary.errors.0 }}</span></label>
                {{ article_form.summary }}
            </div>
            <div class="form-group">
                <label for="content">内容 <span>{{ article_form.content.errors.0 }}</span></label>
                {{ article_form.content }}
            </div>
            <div class="form-group">
                <label for="article_type_id">类型 <span>{{ article_form.article_type_id.errors.0 }}</span></label>
                <div>
                    {{ article_form.article_type_id }}
                </div>
            </div>
            <div class="form-group">
                <label for="category_id">分类 <span>{{ article_form.category_id.errors.0 }}</span></label>
                <div>
                    {{ article_form.category_id }}
                </div>
            </div>
            <div class="form-group">
                <label for="tags">标签 <span>{{ article_form.tags.errors.0 }}</span></label>
                <div>
                    {{ article_form.tags }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">保 存</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/static/plugins/kindeditor/lang/zh_CN.js"></script>
    <script>
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[name="content"]', {
                resizeType: 1,
                uploadJson: '/backend/upload_img.html',
                extraFileUploadParams: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                fileManagerJson: '/backend/file_manager.html',
                allowPreviewEmoticons: true,
                allowImageUpload: true,
                allowFileManager: true,
                pluginsPath: '/static/plugins/kindeditor/plugins/'
            });
        });
    </script>
{% endblock %}