{% extends 'home_layout.html' %}

{% block content %}
    <div class="summary-list">
        {% for row in article_list %}
            <div class="summary-item">
                <div class="summary-title">
                    <a href="/{{ blog_obj.site }}/{{ row.nid }}.html">{{ row.title }}</a>
                </div>
                <div class="summary-content">
                    {{ row.summary }}
                </div>
                <div class="summary-footer">
                    <span>{{ row.create_time|date:"Y-m-d H:i:s" }}</span>
                    <span>{{ blog_obj.user.nickname }}</span>
                    <span>阅读({{ row.read_count }})</span>
                    <a>评论({{ row.comment_count }})</a>
                    <a>编辑</a>
                </div>
            </div>
        {% endfor %}
        <div class="clearfix">
            <ul class="pagination right" style="margin-top: 0">
                {{ page_str }}
            </ul>
        </div>
    </div>
{% endblock %}