{% extends "index.html" %}
{% load crm_tags %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/student/my_classes/">我的班级</a></li>
        <li class="active">班级上课记录</li>
    </ol>
{% endblock %}
{% block page-content %}
    <div class="panel panel-bordered panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><b>{{ class_list_obj }}上课记录</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>讲师</th>
                            <th>节次</th>
                            <th>本节课程大纲</th>
                            <th>我的签到状态</th>
                            <th>是否有作业</th>
                            <th>作业详情</th>
                            <th>讲师评语</th>
                            <th>上课日期</th>
                            <th>作业成绩</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course_record_obj in  course_record_obj_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ course_record_obj.teacher.name }}</td>
                                <td>第{{ course_record_obj.day_num }}节</td>
                                <td>
                                    <a href="javascript:void(0);" class="add-popover"
                                       data-html="true"
                                       data-original-title="课程大纲"
                                       data-content="<pre>{{ course_record_obj.outline }}</pre>"
                                       data-placement="top" data-trigger="focus" data-toggle="popover">
                                        {{ course_record_obj.outline|truncatewords:"1" }}
                                    </a>
                                </td>
                                <td>{{ course_record_obj.user_study_record_obj.get_attendance_display }}</td>
                                <td>{% if course_record_obj.has_homework %}是{% else %}否{% endif %}</td>
                                <td>
                                    {% if course_record_obj.has_homework %}
                                        <a href="/student/homework_detail/{{ course_record_obj.user_study_record_obj.id }}/">点击查看</a>
                                    {% else %}
                                        本节没有作业哦
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="add-popover"
                                       data-html="true"
                                       data-original-title="讲师评语"
                                       data-content="<pre>{{ course_record_obj.user_study_record_obj.memo }}</pre>"
                                       data-placement="top" data-trigger="focus" data-toggle="popover">
                                        {{ course_record_obj.user_study_record_obj.memo|truncatewords:"1" }}
                                    </a>
                                </td>
                                <td>{{ course_record_obj.date }}</td>
                                <td>{{ course_record_obj.user_study_record_obj.get_score_display }}</td>
                            </tr>
                        {% endfor %}
                        <tr style="border-top: 2px double black;">
                            <td class="text-center" colspan="2"><h4><b>总成绩得分</b></h4></td>
                            <td colspan="7"></td>
                            <td><h4 style="color: red;"><b>{{ user_score_info.score__sum }}</b></h4></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            总计:{{ course_record_obj_list.paginator.count }}条上课记录
            <div class="row">
                <ul class="pagination">
                    {% get_page_ele course_record_obj_list %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}