server {
    listen    9008;
    # server_name  perfectcrm;    

    location / {
        uwsgi_pass unix:/home/jacob/GitDir/PythonHomeWork/Project2_PerfectCRM/PerfectCRM/PerfectCRM.sock;
        include uwsgi_params;
  }

     location /static/ {
            alias /home/jacob/GitDir/PythonHomeWork/Project2_PerfectCRM/PerfectCRM/static_assets/;
        }
}
